--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1
torchvision==0.17.1
transformers
sentencepiece
fastapi
uvicorn
python-multipart
pyttsx3
vosk
sounddevice
numpy
accelerate>=0.26.0
safetensors
flask==3.0.2
flask-sqlalchemy==3.1.1
gTTS==2.5.1 